{% extends 'layout/basic.html' %}

{% block main_content %}


    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название продукта</th>
            <th scope="col"></th>
            <th scope="col">Кол-во</th>
            <th scope="col"></th>
            <th scope="col">Цена за единицу</th>
            <th scope="col"></th>
            <th scope="col">Суммарно</th>
        </tr>
        </thead>
        <tbody>
        {% for product, values in cart.products.items %}
            <tr>
                <th scope="row">1</th>
                <td>{{ product.product_name }}</td>
                <td>:</td>
                <form method="get" action="{% url 'update_cart' %}">
                    {% csrf_token %}
                    <td>
                        <input type="hidden" name="subcategory" value="{{ product.subcategory.slug_url }}">
                        <input type="hidden" name="product_id" value="{{ product.pk}}">
                        <input type="number" min="0" name="product_qty" required id="id_product_qty" value="{{ values.0 }}">
                        <button type="submit" class="btn btn-primary">Обновить</button>
                    </td>

                </form>
                <td>x</td>
                <td>{{ product.price }}</td>
                <td>=</td>
                <td>{{ values.1 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>Общая сумма: {{ cart.total_price }}</p>

{% endblock %}