{% extends 'layout/basic.html' %}

{% block main_content %}


    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название продукта</th>
            <th scope="col"></th>
            <th scope="col">Кол-во</th>
            <th scope="col"></th>
            <th scope="col">Цена за единицу</th>
            <th scope="col"></th>
            <th scope="col">Суммарно</th>
        </tr>
        </thead>
        <tbody>
        {% for product in cart.products.items %}
            <tr>
                <th scope="row">1</th>
                <td>{{ product.0.product_name }}</td>
                <td>:</td>
                <td>{{ product.1.0 }}</td>
                <td>x</td>
                <td>{{ product.0.price }}</td>
                <td>=</td>
                <td>{{ product.1.1 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <p>Общая сумма: {{ cart.total_price }}</p>

{% endblock %}